html{font-size:20px}
@media only screen and (min-width:375px){.layer .layer-bd{height:380px;margin-top:-190px}.layer .content{margin-top:220px;}}
@media only screen and (min-width:414px){.layer .layer-bd{height:420px;margin-top:-210px}.layer .content{margin-top:230px;}}
@media only screen and (min-width:401px){html{font-size:25px!important}}
@media only screen and (min-width:428px){html{font-size:26.75px!important}}
@media only screen and (min-width:481px){html{font-size:30px!important}}
@media only screen and (min-width:569px){html{font-size:35px!important}}
@media only screen and (min-width:641px){html{font-size:40px!important}}


//点击的不是某个元素
<script>
    $(function(){
        $(document).bind("click",function(e){
            //id为menu的是菜单，id为open的是打开菜单的按钮            
            if($(e.target).closest("#menu").length == 0 && $(e.target).closest("#open").length == 0){
            //点击id为menu之外且id不是不是open，则触发
                close();
            }
        })
    })

    function close(){
        //close menu...
    }

    function open(){
         //open menu...
    }
</script>


//自定义 方法

(function ($) {
        $.fn.drags = function (opt) {

            opt = $.extend({
                handle: "",
                cursor: "move"
            }, opt);

            var $selected = this;
            var $elements = (opt.handle === "") ? this : this.find(opt.handle);

            $elements.css('cursor', opt.cursor).on("mousedown", function (e) {
                var pos_y = $selected.offset().top - e.pageY,
                  pos_x = $selected.offset().left - e.pageX;
                $(document).on("mousemove", function (e) {
                    $selected.offset({
                        top: e.pageY + pos_y,
                        left: e.pageX + pos_x
                    });
                }).on("mouseup", function () {
                    $(this).off("mousemove"); // Unbind events from document                
                });
                e.preventDefault(); // disable selection
            });

            return this;

        };
    })(jQuery);

 $("#modal").modal().drags({handle:".modal-header"});




//利用 jquery ui draggable方法  需引入

$(".modal").draggable({
    handle: ".modal-header" 
});



















